.game-over-container {
    font-size: 2rem;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-inline: auto;
    color: #d8f3dc;
    grid-column: 1/4;
}

.game-over-container > .subtitle{
    font-size: 5rem;
}

.higher-score {
    font-size: 3rem;
}