.turn-table {
    grid-column: 3/4;
    text-align: center;
    margin-block: 1rem auto;
}

.animal-section {
    grid-column: 2/3;
    grid-row: 1;
}

.player-turn {
    font-size: 3rem;
    color: #d8f3dc;
    text-transform: uppercase;
}

.option-button {
    width: inherit;
    margin-inline: .5rem;
}

.option-button:hover {
    background-color: #1b4332 !important;
    padding-inline: 2rem !important;
}

.option-button:disabled {
    background-color: #52b788;
    height: 1rem;
    margin-block: -1rem;
    font-size: 0;
    color: #52b788;
    border: none;
}

.option-button:disabled:hover {
    background-color: #52b788 !important;
    color: #52b788;
    border: none;
}

.next-round {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    width: 370px;
    margin-inline: auto;
    margin-top: -2rem;
    background-color: #1b4332;
    border-radius: 25px;
    text-align: center;
    z-index: 4;
}

.wildcard-button {
    margin-block: 1rem;
    background-color: #1b4332 !important;
    animation: stretch .8s infinite;
}

.correct-answer {
    color: #0fdf6d;
    margin: 1rem;
    animation: correct 2s infinite;
}

.incorrect-answer {
    color: crimson;
    margin: 1rem;
    animation: incorrect 1s infinite;
}

@keyframes correct {
    0% {
        color: #0fdf6d;
    }

    50% {
        color: #d8f3dc;
    }

    100% {
        color: #0fdf6d;
    }
}

@keyframes incorrect {
    0% {
        color: #ee6055;
    }

    50% {
        color: #bc4b51;
    }

    100% {
        color: #ee6055;
    }
}