@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

.guess-the-animal-App {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    font-family: 'Pixelify Sans', sans-serif;
    background-color: #081c15;
    padding: 2rem;
    color: #52b788;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gta-container {
    display: grid;
    grid-template-columns: 0.75fr 1.5fr 0.75fr;
    grid-template-rows: 1fr;
    align-items: center;
}

#title-game {
    width: max-content;
    margin-inline: auto;
    text-align: center;
    background-color: #1b4332;
    color: #d8f3dc;
    font-size: 3rem;
    padding: .5rem 1.5rem;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bolder;
}

.gta-subtitle {
    animation: stretch 3s infinite;
    font-size: 4rem;
    color: #d8f3dc;
}

.start-button {
    width: 50% !important;
    font-size: 3rem !important;
    padding: 1rem !important;
    margin-inline: auto;
    animation: breathing .8s infinite;
}

.start-button:disabled {
    background-color: #52b788;
    color: #52b788;
    border: none;
    animation: none;
}

.start-button:disabled:hover {
    background-color: #52b788;
    color: #52b788;
    border: none;
}

.gta-button {
    font-size: 2rem;
    padding: 1rem;
    border: 3px solid #52b788;
    border-radius: 20px;
    color: #d8f3dc;
    font-family: 'Pixelify Sans', sans-serif;
    background-color: #52b788;
    text-transform: uppercase;
    font-weight: bolder;
    transition: ease .2s;
}

.gta-button:hover {
    border: 3px solid #d8f3dc;
    color: #d8f3dc;
    background-color: #52b788;
    scale: 1.05;
}

.gta-button:active {
    background-color: #1b4332;
}

.gta-buttons {
    display: flex;
    width: max-content;
    height: max-content;
    margin-inline: auto;
    margin-block: .5rem;
    justify-content: space-around;
    border-radius: 20px;
    border: 3px solid;
    background-color: #52b788;
}

.animal-img {
    animation: breathing 5s infinite;
}

.next-round>button {
    animation: breathing .8s infinite;
}

.player-turn {
    animation: breathing2 .8s infinite;
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes breathing2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
        color: #52b788;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes stretch {
    0% {
        transform: scaleX(1.1);
    }

    25% {
        transform: scaleY(1.05);
    }


    50% {
        transform: scaleY(1.1);
    }


    75% {
        transform: scaleY(1.05);
    }

    100% {
        transform: scaleX(1.1);
    }
}