.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-inline: auto;
    padding: 1rem;
    align-items: center;
    background-color: #0E94A0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    opacity:0.9;
    
}

.title {
    padding-inline: 0.5rem;
}

.nav-list {
    display: flex;
}

.nav-list>li {
    padding: 1rem 1rem;
    list-style: none;
}

.nav-list>li:hover {
    background-color: #E8E0D1;
}