.App-header {
  font-size: calc(10px + 2vmin);
  color: #F9F9F9;
}

.app-title {
  position: absolute;
  font-size: 3rem;
  color: #F9F9F9;
  top: 1.5rem;
  left: 2rem;
}

.subtitle {
  text-decoration: solid underline #584bcf 6px;
  margin-block: 1rem;
}

.input {
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  text-align: center;
  padding: .5rem;
  margin: .5rem;
  text-transform: uppercase;
}

.note-creator-container {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3rem;
  margin-inline: auto;
  padding-top: 8rem;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  margin-inline: auto;
  justify-content: center;
}

.note-inputs-container {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  width: max-content;
}