@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#project-container {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(253, 66, 175, 0.2), rgba(255, 174, 0, 0.2)), url("../public/screenShots/Background.jpg");
    background-position: center;
    background-size: cover;
}

.page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5rem;
}

canvas {
    margin: 0 auto 1rem;
    padding: .5rem;
    border: 3px solid #0b0b0b;
    border-radius: 25px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
}

.games-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-inline: auto;
    justify-content: center;
    background-color: rgb(0, 0, 0, .7);
    border-radius: 25px;
    padding: 1rem;
    margin-top: 1rem;
    gap: 2rem;
}

.slider-container {
    width: 100%;
    margin: 50px auto;
    height: auto;
    overflow: hidden;
    background-color: rgb(0, 0, 0, .7);
    padding: 2rem 1rem;
    border-radius: 25px;
}

.card-wrapper {
    display: flex;
    padding: 0;
    width: 120%;
    gap: 2rem;
    justify-content: space-evenly;
    animation: slider 15s infinite ease-in-out;
}

.carousel-card {
    width: 420px !important;
}

.carousel-card div {
    width: fit-content;
    height: 400px;
}

.carousel-card article {
    width: 100%;
}

.project-error {
    font-size: 6rem;
    width: fit-content;
    padding: 2rem;
    margin-inline: auto;
    margin-block: 8%;
    border-radius: 25px;
    color: #f9f9f9;
    background-color: rgb(0, 0, 0, .7);
}

@keyframes slider {
    0% {
        margin-left: 0%;
    }

    20% {
        margin-left: 0%;
    }

    25% {
        margin-left: -10%;
    }

    45% {
        margin-left: -10%;
    }

    50% {
        margin-left: -20%;
    }

    70% {
        margin-left: -20%;
    }

    75% {
        margin-left: -10%;
    }

    95% {
        margin-left: -10%;
    }
}