* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#project-container {
    min-height: 100dvh;
    height: 100%;
    width: 100%;
}

.page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1.5rem 1.5rem;
}

canvas {
    margin: 0 auto 1rem;
    padding: .5rem;
    border: 3px solid #0b0b0b;
    border-radius: 25px;
    background-color: #0b0b0b;
    display: flex;
    justify-content: center;
}

.games-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-inline: auto;
    justify-content: center;
    gap: 2rem;
}

.project-subtitle {
    font-size: 3rem;
    text-align: center;
    margin-block: -5.4rem 3.5rem;
    z-index: 3;
    width: fit-content;
    margin-inline: auto;
    color: #f9f9f9;
}

.slider-container {
    width: 100%;
    margin: 50px auto;
    height: auto;
    overflow: hidden;
}

.card-wrapper {
    display: flex;
    padding: 0;
    width: 250%;
    gap: 2rem;
    justify-content: space-evenly;
    animation: slider 15s infinite ease-in-out;
}

.carousel-card {
    width: 620px !important;
}

.carousel-card div {
    width: fit-content;
    height: 550px;
}

.carousel-card article {
    width: 100%;
}

@keyframes slider {
    0% {
        margin-left: 0%;
    }

    20% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }
}